<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <%- include('../partials/head'); %>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/cart.css" rel="stylesheet" type="text/css">
    <script>

        function test(elem, num) {
            const buttonRef = elem;
            const elemPrice = parseFloat(document.getElementById("elemPrice" + num).innerText);
            const xhttp = new XMLHttpRequest();
            xhttp.withCredentials = true;
            xhttp.open("DELETE", "/cart/" + buttonRef.value, true);
            xhttp.send();
            const totalPriceRef = document.getElementById("totalPrice")
            let totalPrice = parseFloat(totalPriceRef.innerText) - elemPrice;
            totalPriceRef.innerText = totalPrice.toString();
            xhttp.onreadystatechange = () => {
                if (xhttp.response === "ok") buttonRef.parentElement.parentElement.remove();
            }
        }

        <% if(cartItems) { %>
            window.onload = () => {
                let totalPrice = <%= cartItems.map(item => parseFloat(item.price)).reduce((f, s) => f + s, 0) %>;
                document.getElementById("totalPrice").innerText = totalPrice.toString();
            }
        <% } %>

    </script>
</head>
<body>
<script src="ejs.min.js"></script>
<header>
    <%- include('../partials/nav', {user}); %>
</header>

<!--Need to add user session checking
    Along with the addition using the server.js and
    art objects to pull in the objects into the table

-->


    <div class="container">
        <% if(!cartItems || !cartItems.length > 0){ %>
            <p>You have no items in your cart</p>
        <% } else { %>
            <h2>ArtWork in cart</h2>
        <table>
            <thead>
            <tr>
                <th>Author</th>
                <th>Description</th>
                <th>Price</th>
                <th>Media</th>
            </tr>
            </thead>
            <tbody>

            <% for( let i = 0; i < cartItems.length; i++) { %>
                <tr class="art-container">
                    <td><%= cartItems[i].author %></td>
                    <td><%= cartItems[i].description %></td>
                    <td>$<b id="elemPrice<%= i %>"><%= cartItems[i].price %></b></td>
                    <td>
                        <div class="img-container<%= i % 2 %>"><img src="<%= cartItems[i].media_url %>" alt="Artwork"/>
                        </div>
                    </td>
                    <td>
                        <Button id="delete" name="delete" value="<%= cartItems[i].id %>" onclick="test(this, <%= i %>)">
                            X
                        </Button>
                    </td>
                </tr>
            <% } %>
            <tr>
                <td>Total Price:</td>
                <td/>
                <td>$<b id="totalPrice"></b></td>
            </tr>
            </tbody>
        </table>
        <form class="button-container" action="/order" method="post">
            <Button id="order" type="submit">Place Order</Button>
        </form>
    </div>
<% } %>

</body>
</html>