<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head'); %>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <!--suppress CssUnresolvedCustomProperty -->
    <script>
        function delete() {
            const xhttp = new XMLHttpRequest();
            let id =1;
            let url = "/cart/"+id;
            alert(url);
            xhttp.open("DELETE", url, true);
            xhttp.onreadystatechange = () => {
                if (xhttp.readyState === 4) {
                    if (xhttp.response === "ok") {
                        location.reload()
                    }
                }
            }
            xhttp.send();

        }
    </script>
    <style>
        .container, table {
            width: 100%;
        }
        table * {
            opacity: 0.9;
            z-index: 1;
        }

        img {
            --img-height: 90px;
            min-height: var(--img-height);
            min-width: var(--img-height);
            max-height: var(--img-height);
            max-width: var(--img-height);
            border-style: solid;
            border-width: 4px;
            border-color: var(--foreground-black);
            object-fit: cover;
            border-radius: 50%;
        }

        .img-container0, .img-container1 {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
        }

        .img-container0 {
            justify-content: flex-start;
        }
        .img-container1 {
            justify-content: center;
        }

        .art-container {
            border-width: 10px;
            border-style: solid;
            border-color: var(--background-black);
            background-color: var(--foreground-black);
            max-height: 20px;
        }
        tr, td *{
            max-height: 50px !important;
        }
        tr:hover, tr:hover * {
            opacity: 1;
        }
        td {
            padding-left: 5px;
        }
    </style>
</head>
<body>
<script src="ejs.min.js"></script>
<header>
    <%- include('../partials/nav', {user}); %>
</header>
Cart Page

<!--Need to add user session checking
    Along with the addition using the server.js and
    art objects to pull in the objects into the table

-->
<% if(!cartItems){ %>
    <p>You have no items in your cart</p>
<% } else { %>
    <h2>ArtWork in cart</h2>

    <div class="container">
        <table>
            <thead>
            <tr>
                <th>Author</th>
                <th>Description</th>
                <th>Price</th>
                <th>Media</th>
            </tr>
            </thead>
            <tbody>

            <% for( let i = 0; i < cartItems.length; i++) { %>
                <tr class="art-container">
                    <td><%= cartItems[i].author %></td>
                    <td><%= cartItems[i].description %></td>
                    <td>$<%= cartItems[i].price %></td>
                    <td>
                        <div class="img-container<%= i % 2 %>"><img src="<%= cartItems[i].media_url %>" alt="Artwork"/>
                        </div>
                    </td>
                    <td>
                        <Button id="delete"  name="delete" value="delete" onclick="delete()">Delete</Button>
                    </td>
                </tr>
            <% } %>
                <tr>
                    <td>Total Price:</td>
                    <td/>
                    <td>$<%= price %></td>
                </tr>
            </tbody>
        </table>
    </div>
<% } %>

</body>
</html>