<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head'); %>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/donate.css" rel="stylesheet" type="text/css">
    <script>
        const change = () => {
            let URLInputRef = document.getElementById("media")
            let imgRef = document.getElementById("artwork-img")
            imgRef.src = URLInputRef.value;
            imgRef.hidden = false;
        }
        const test = (elem) => {
            let artwork_id = elem.getAttribute("data-value")
            window.location.href = "/art/" + artwork_id;
        }
        const parseJsonErrorsToList = (jsonErrors) => {
            const listElems = jsonErrors.errors.map(err => `<li> ${err.msg} </li>`)
            return `<ul>${listElems.join(" ")}</ul>`
        }

        const urlencodeFormData = (fd) => {
            let s = '';

            function encode(s) {
                return encodeURIComponent(s).replace(/%20/g, '+');
            }

            for (let pair of fd.entries()) {
                if (typeof pair[1] == 'string') {
                    s += (s ? '&' : '') + encode(pair[0]) + '=' + encode(pair[1]);
                }
            }
            return s;
        }

        const validate = (e, formElem) => {
            e.preventDefault()
            const formData = urlencodeFormData(new FormData(formElem));
            console.log(formData)
            const xhttp = new XMLHttpRequest();
            const handleResponse = () => {
                const response = xhttp.response;
                const contentType = xhttp.getResponseHeader('content-type')
                if (contentType && contentType.indexOf("application/json") !== -1) {

                    const data = JSON.parse(response)
                    let errorDiv = document.getElementById("errors");
                    errorDiv.innerHTML = parseJsonErrorsToList(data);
                    errorDiv.hidden = false;
                } else {
                    window.location.href = "/";
                }
            }
            xhttp.open("POST", '/art/', true)
            xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhttp.send(formData)
            xhttp.onreadystatechange = handleResponse;
        }
    </script>
</head>
<body>
<header>
    <%- include('../partials/nav', {user}); %>
</header>

<div class="container">
    <% if (!user.id) { %>
        <h2>You must be logged in to donate artwork</h2>
    <% }else{ %>
        <div class="error-spacer">
            <div id="errors" hidden></div>
        </div>
        <div class="form-container">
            <form action="/art" method="post" onsubmit="validate(event, this)">
                <h2>Donate</h2>
                <div class="input-field">
                    <input type="text" name="author" id="author" placeholder="Enter Author Name">
                </div>
                <div class="input-field">
                    <input type="number" name="price" id="price" placeholder="Enter Price">
                </div>
                <div class="input-field">
                    <input type="url" name="media" id="media" placeholder="Enter Image URL" onchange="change()">
                </div>
                <div class="input-field">
                    <textarea name="desc" id="desc" placeholder="Enter Description"></textarea>
                </div>
                <input class="button" type="submit" value="Donate">
            </form>
        </div>
        <div class="image-spacer">
            <img hidden class="img-view" id="artwork-img" src="" alt="Your Artwork">
        </div>
</div>
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>Author</th>
            <th>Description</th>
            <th>Price</th>
            <th>Media</th>
        </tr>
        </thead>
        <tbody>

        <% for( let i = 0; i < donations.length; i++) { %>
            <tr class="art-container" data-value="<%= donations[i].id %>" onclick="test(this)">
                <td><%= donations[i].author %></td>
                <td><%= donations[i].description %></td>
                <td>$<b id="elemPrice<%= i %>"><%= donations[i].price %></b></td>
                <td>
                    <div class="img-container<%= i % 2 %>"><img class="thumbnail" src="<%= donations[i].media_url %>"
                                                                alt="Artwork"/>
                    </div>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
<% } %>
</body>
</html>