<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head'); %>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <style>
        .container {
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            padding: 0;
            display: flex;
            flex-direction: row;
            /*background-color: var(--foreground-black);*/
        }

        .form-container {
            position: relative;
            /*margin-left: auto;*/
            margin-right: auto;
            align-self: center;
            width: min-content;
            justify-self: center;
            background-color: var(--foreground-black);
            padding: 2%;
            border-radius: 10px;
            border-style: solid;
            border-width: 0.5px;
        }

        input, textarea {
            margin: 5px;
            border-radius: 5px;
            background-color: var(--dark-foreground-black);
            color: var(--primary-blue)
        }

        textarea, .button {
            width: 95%;
        }

        .img-view {
            object-fit: contain;
            max-height: 350px;
        }
        .table-container {
            padding: 2%;
            width: 100%;
        }
        table {
            width: 100%
        }

        table * {
            opacity: 0.9;
            z-index: 1;
        }

        .thumbnail {
            --img-height: 90px;
            min-height: var(--img-height);
            min-width: var(--img-height);
            max-height: var(--img-height);
            max-width: var(--img-height);
            border-style: solid;
            border-width: 4px;
            border-color: var(--foreground-black);
            object-fit: cover;
            border-radius: 50%;
        }

        .img-container0, .img-container1 {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
        }

        .img-container0 {
            justify-content: flex-start;
        }

        .img-container1 {
            justify-content: center;
        }

        .art-container {
            border-width: 10px;
            border-style: solid;
            border-color: var(--background-black);
            background-color: var(--foreground-black);
            max-height: 20px;
            cursor: pointer;
        }

        tr, td * {
            max-height: 50px !important;
        }

        tr:hover, tr:hover * {
            opacity: 1;
        }

        td {
            padding-left: 5px;
        }
    </style>
    <script>
        const change = () => {
            let URLInputRef = document.getElementById("media")
            let imgRef = document.getElementById("artwork-img")
            imgRef.src = URLInputRef.value;
        }
        const test = (elem) =>{
            let artwork_id = elem.getAttribute("data-value")
            window.location.href = "/art/"+artwork_id;
        }
    </script>
</head>
<body>
<header>
    <%- include('../partials/nav', {user}); %>
</header>
Donate Page
<% if (!user.id) { %>
    <h2>You must be logged in to donate artwork</h2>
<% }else{ %>
    <div class="container">
        <div class="form-container">
            <form action="/art" method="post">
                <h2>Donate</h2>
                <div class="input-field">
                    <input type="text" name="author" id="author" placeholder="Enter Author Name">
                </div>
                <div class="input-field">
                    <input type="number" name="price" id="price" placeholder="Enter Price">
                </div>
                <div class="input-field">
                    <input type="url" name="media" id="media" placeholder="Enter Image URL" onchange="change()">
                </div>
                <div class="input-field">
                    <textarea name="desc" id="desc" placeholder="Enter Description"></textarea>
                </div>
                <input class="button" type="submit" value="Donate">
            </form>
        </div>
        <img class="img-view" id="artwork-img" src="" alt="Your Artwork">
    </div>

    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Author</th>
                <th>Description</th>
                <th>Price</th>
                <th>Media</th>
            </tr>
            </thead>
            <tbody>

            <% for( let i = 0; i < donations.length; i++) { %>
                <tr class="art-container" data-value="<%= donations[i].id%>" onclick="test(this)">
                    <td><%= donations[i].author %></td>
                    <td><%= donations[i].description %></td>
                    <td>$<b id="elemPrice<%= i %>"><%= donations[i].price %></b></td>
                    <td>
                        <div class="img-container<%= i % 2 %>"><img class="thumbnail" src="<%= donations[i].media_url %>" alt="Artwork"/>
                        </div>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
<% } %>
</body>
</html>