<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head'); %>
    <script>
        const errorImg = "https://www.google.com/search?q=no+image&rlz=1C1CHBD_enNZ962NZ962&sxsrf=AOaemvI3hfd-dnV8Dow55eqW9jQs8xPkng:1633055146285&source=lnms&tbm=isch&sa=X&ved=2ahUKEwj1vpG_lKjzAhXz4XMBHYt5BsoQ_AUoAXoECAEQAw&biw=1433&bih=668&dpr=2.68#imgrc=-QpL1I7u3zbiBM"
    </script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <style>

        .imageCont {
            border-radius: 0 0 5px 5px;
            border-width: 1px;
            border-color: black;
            border-style: solid;
            margin: 15px;
            width: 100%;
            height: min-content;
            padding: 0;
            background-color: var(--foreground-black);
            transition: all .2s ease-in-out;
            cursor: pointer;
            opacity: 0.8;
        }

        .imageCont:hover {
            transform: scale(1.05);
            opacity: 1;
        }

        .gall-img {
            object-fit: contain;
            margin: 0;
            width: 100%;
            height: auto;
        }

        .author {
            padding: 15px 5px 0;
            margin-bottom: 0;
        }

        .col-sm {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 10px;
        }

        .row {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<script src="ejs.min.js"></script>
<header>
    <%- include('../partials/nav', {user}); %>
</header>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <% for (let i = 0; i < artwork.length; i += 3) { %>
                <% if(artwork[i].id) { %>
                <div class="imageCont" onclick="window.location.href = '/art/<%= artwork[i].id %>'">
                    <img class="gall-img" src="<%= artwork[i].media_url %>"/>
                    <div class="text-view">
                        <p class="author">Artist: <%= artwork[i].author %></p>
                        <p class="price">Price: $<%= artwork[i].price %></p>
                    </div>
                </div>
                <% } %>
            <% } %>
        </div>
        <div class="col-sm">
            <% for (let i = 1; i < artwork.length; i += 3) { %>
                <% if(artwork[i].id) { %>

                <div class="imageCont" onclick="window.location.href = '/art/<%= artwork[i].id %>'">
                    <img class="gall-img" src="<%= artwork[i].media_url %>"/>
                    <div class="text-view">
                        <p class="author">Artist: <%= artwork[i].author %></p>
                        <p>Price: $<%= artwork[i].price %></p>
                    </div>
                </div>
                <% } %>
            <% } %>

        </div>
        <div class="col-sm">
            <% for (let i = 2; i < artwork.length; i += 3) { %>
                <% if(artwork[i].id) { %>
                <div class="imageCont" onclick="window.location.href = '/art/<%= artwork[i].id %>'">
                    <img class="gall-img" src="<%= artwork[i].media_url %>"/>
                    <div class="text-view">
                        <p class="author">Artist: <%= artwork[i].author %></p>
                        <p>Price: $<%= artwork[i].price %></p>
                    </div>
                </div>
                <% } %>
            <% } %>

        </div>
    </div>
</div>


<div class="container">
    <table>
        <thead>
        <tr>
            <th>Artist</th>
            <th>Description</th>
            <th>Price</th>
            <th>Media</th>
        </tr>
        <!-- If the user and the username are true thus mean they are logged in, they are able to add items to cart/orders-->
        <% if((user?.username)){ %>
            <td>
                <button>ADD TO CART</button>
            </td>

        <% } %>
        </thead>
    </table>


</div>
</body>
</html>