<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head'); %>
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <script>
        function test(elem){
            const order_id = elem.getAttribute("data-val");
            window.location.href = "/order/" + order_id
        }
    </script>
    <style>
        .container, table {
            width: 100%;
        }

        table * {
            opacity: 0.9;
            z-index: 1;
        }

        img {
            --img-height: 90px;
            min-height: var(--img-height);
            min-width: var(--img-height);
            max-height: var(--img-height);
            max-width: var(--img-height);
            border-style: solid;
            border-width: 4px;
            border-color: var(--foreground-black);
            object-fit: cover;
            border-radius: 50%;
        }

      .img-container {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
          justify-content: flex-end;
        }


        .art-container {
            border-width: 10px;
            border-style: solid;
            border-color: var(--background-black);
            background-color: var(--foreground-black);
            max-height: 20px;
            cursor: pointer;
        }

        tr, td * {
            max-height: 50px !important;
        }

        tr:hover, tr:hover * {
            opacity: 1;
        }

        td {
            padding-left: 5px;
        }
    </style>
</head>
<body>
<header>
    <%- include('../partials/nav', {user}); %>
</header>
<!--Need to add user session checking
    Along with the addition using the server.js and
    art objects to pull in the objects into the table

-->
<% if(!orders){ %>
    <p>You don't have any orders</p>
<% } else { %>
    <h2>Your Orders</h2>

    <div class="container">
        <table>
            <tr>
                <th>Order No.</th>
                <th>No. Items</th>
                <th>Price</th>
                <th>Media</th>
            </tr>
            <tbody>
            <% for( let i = 0; i < orders.length; i++) { %>
                <tr class="art-container" data-val="<%= orders[i].id%>" onclick="test(this)">

                    <td>#<%= i %></td>
                    <td><%= orders[i].artwork_id_array.length %></td>
                    <td>$<b id="elemPrice"><%= orders[i].price %></b></td>
                    <td>
                        <div class="img-container">
                            <%
                                const order = orders[i];
                                const imgNum = Math.min(4, order.artwork_array.length)
                            for( let j = 0; j < imgNum; j++) { %>
                                <img src="<%= order.artwork_array[j].media_url %>" alt="Artwork"/>
                            <% } %>

                        </div>
                    </td>
                </tr>
            <% } %>
            <tr>
                <td>Total Price:</td>
                <td/>
                <td>$<b id="totalPrice"><%= orders.map(order => parseFloat(order.price)).reduce((f, s) => f + s, 0) %></b>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
<% } %>

</body>
</html>